<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add 
			name="LocalConnection" 
			connectionString="server=localhost;user=root;database=KuznecovSpaLotos;password=admin;" 
			providerName="MySql.Data.MySqlClient"/>
		
		<add 
			name="ServerConnection" 
			connectionString="server=10.20.5.2;user=student;database=KuznecovSpaLotos;password=student;" 
			providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
</configuration>